@import "syncfusion.scss";
@import "variables.scss";
@import "icons.scss";
@import "header.scss";
@import "breadcumb.scss";
@import "spacing.scss";
body {
    font-size: 1rem;
}
html{
    font-size: 62.5%;
    margin:0;
    padding:0
}